| 質問に回答が投稿されました。確認してみましょう。
= "\n"
| タイトル：
= @answer.question.title
= "\n"
| 質問者：
= @answer.question.user.nickname
= "\n"
| 質問内容：
= "\n"
= @answer.question.body
= "\n"
= "\n"
| 回答者：
= @answer.user.nickname
= "\n"
| 回答内容：
= "\n"
= @answer.body